<footer class="footer bg-dark text-white py-5">
  <div class="container">
      <div class="row">

          <div class="col-md-6">
              <img src="assets/imagina-icono.png" alt="Logo" width="40" height="40" class="d-inline-block me-2">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In modi rem illum, temporibus nam maiores.
                  Voluptatibus nostrum quidem iusto possimus consequatur natus, culpa modi. Eligendi consectetur
                  distinctio corrupti autem magni!</p>
              <ul class="list-unstyled">
                  <li><i class="bi bi-geo-alt"></i> 123 Calle</li>
                  <li><i class="bi bi-envelope"></i> infonombreweb.com</li>
                  <li><i class="bi bi-telephone"></i> +1234658970</li>
              </ul>
          </div>

         <!--  <div class="col-md-2">
              <h5>Enlaces Útiles</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Acerca de Nosotros</a></li>
                  <li><a href="#" class="text-white">Contáctanos</a></li>
              </ul>
          </div> -->

          <div class="col-md-6">
              <div class="row">

                  <div class="col-md-10">
                      <h5>Contáctanos</h5>
                      <form>
                          <div class="mb-3">
                              <input type="text" class="form-control bg-dark text-white"
                                  placeholder="Ingresa tu nombre *" required>
                          </div>
                          <div class="mb-3">
                              <input type="email" class="form-control bg-dark text-white"
                                  placeholder="Ingresa tu correo *" required>
                          </div>
                          <div class="mb-3">
                              <textarea class="form-control bg-dark text-white" rows="3" placeholder="Mensaje *"
                                  required></textarea>
                          </div>
                          <button type="submit" class="btn btn-success w-100">Enviar</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>


  </div>
</footer>
