<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Formulario de Categorías</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <form class="row" (submit)="saveCategory()">
    <div class="col-12 mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newCategory.name" placeholder="Ingresa el nombre" required>
    </div>

    <div class="col-12 mb-3">
      <label for="description" class="form-label">Descripción</label>
      <textarea class="form-control" id="description" name="description" rows="3" [(ngModel)]="newCategory.description" placeholder="Ingresa la descripción" required></textarea>
    </div>

    <div class="col-12 text-end">
      <button type="submit" class="btn btn-primary" style="width: 100%;">
        {{ newCategory._id ? 'Actualizar Categoría' : 'Guardar Categoría' }}
      </button>
    </div>
  </form>
</div>
