<app-nav></app-nav>

<section class="hero d-flex align-items-center justify-content-center text-center" id="home">
    <div class="container">
        <h1 class="display-4 text-white">Si Puedes Imaginarlo</h1>
        <p class="lead text-white">Puedes Crearlo</p>
    </div>
</section>

<!-- Sobre nosotros seccion -->
<section class="" id="about-us">
    <div class="container">

        <section class="my-5">
            <div class="container text-center">
                <h2 class="font-weight-bold">Nuestra Empresa</h2>
                <div class="underline mx-auto mb-4"></div>
                <p class="text-muted">
                    Imagina 3D fue fundada con la visión de hacer la impresión 3D accesible y confiable para diferentes
                    sectores. Desde su creación, hemos logrado importantes hitos en el mercado, evolucionando hasta
                    convertirnos en un referente en calidad y compromiso con nuestros clientes.
                </p>

                <div class="row gy-4">
                    <div class="col-md-4">
                        <div class="icon-container mb-3">
                            <i class="fas fa-bullseye fs-1 text-primary"></i>
                        </div>
                        <h4 class="font-weight-bold">Misión</h4>
                        <p>
                            Nuestro propósito es democratizar la impresión 3D, ofreciendo soluciones accesibles y de
                            alta calidad para
                            satisfacer las necesidades de diversos sectores.
                        </p>
                    </div>

                    <div class="col-md-4">
                        <div class="icon-container mb-3">
                            <i class="fas fa-lightbulb fs-1 text-success"></i>
                        </div>
                        <h4 class="font-weight-bold">Visión</h4>
                        <p>
                            Ser líderes en innovación en el sector de la impresión 3D, impactando positivamente el
                            mercado y contribuyendo
                            al desarrollo sostenible.
                        </p>
                    </div>

                    <div class="col-md-4">
                        <div class="icon-container mb-3">
                            <i class="fas fa-handshake fs-1 text-warning"></i>
                        </div>
                        <h4 class="font-weight-bold">Valores</h4>
                        <p>
                            Innovación, calidad, compromiso con el cliente y sostenibilidad. Estos valores guían cada
                            proyecto que
                            realizamos, asegurando que brindemos resultados excepcionales.
                        </p>
                    </div>
                </div>

            </div>
        </section>

    </div>

    <section class="team-section my-5 ">
        <div class="container-xxl">
            <div class="mt-5 row">

                <div class="col-lg-6">
                    <h2 class="team-title font-weight-bold">Sobre Nosotros</h2>
                    <div class="team-underline mb-4"></div>

                    <div class="row gy-4">
                        <div class="col-md-6">
                            <h5 class="team-subtitle font-weight-bold">Clientes y Proyectos</h5>
                            <p class="team-description">
                                Hemos colaborado con clientes destacados ofreciendo soluciones personalizadas de
                                impresión
                                3D para satisfacer
                                sus necesidades específicas.
                            </p>
                        </div>

                        <div class="col-md-6">
                            <h5 class="team-subtitle font-weight-bold">Compromiso con la Calidad</h5>
                            <p class="team-description">
                                Implementamos estrictas medidas de control de calidad para ofrecer resultados de alta
                                calidad que cumplan con
                                las expectativas de nuestros clientes.
                            </p>
                        </div>

                        <div class="col-md-6">
                            <h5 class="team-subtitle font-weight-bold">Impacto y Responsabilidad Social</h5>
                            <p class="team-description">
                                Promovemos el uso de materiales sostenibles y trabajamos para minimizar el impacto
                                ambiental
                                en nuestras
                                operaciones.
                            </p>
                        </div>

                        <div class="col-md-6">
                            <h5 class="team-subtitle font-weight-bold">Crecimiento</h5>
                            <p class="team-description">
                                Buscamos expandirnos y liderar la innovación en impresión 3D, adaptándonos a nuevas
                                tendencias y tecnologías.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="team-image-container">
                        <img src="assets/impresora.webp" alt="Imagen del Equipo" class="img-fluid team-image">
                    </div>
                </div>
            </div>
        </div>
    </section>




    <div class="container">

        <section class="py-5" id="services">
            <div class="container">
                <h2 class="text-center mb-3">Servicios de Impresión 3D y Diseño</h2>
                <div class="underline mx-auto mb-4"></div>
                <p class="text-center text-muted mb-4">
                    Descubre nuestras soluciones avanzadas para impresión 3D, diseño y corte láser. Ofrecemos servicios
                    personalizados para satisfacer tus necesidades con alta calidad y precisión.
                </p>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="service-print-card shadow-sm">
                            <img src="assets/img-impresion.webp" class="service-print-img-top" alt="Impresión 3D">
                            <div class="service-print-body">
                                <h5 class="service-print-title">Impresión 3D</h5>
                                <p class="service-print-text">
                                    Materiales: PLA, PETG, TPU, ABS.<br>
                                    Técnicas: FDM, SLA (resina).
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="service-print-price text-danger">$450.00</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="service-print-card shadow-sm">
                            <img src="assets/img-diseño.webp" class="service-print-img-top" alt="Diseño 3D">
                            <div class="service-print-body">
                                <h5 class="service-print-title">Diseño 3D</h5>
                                <p class="service-print-text">
                                    Creación de modelos desde cero y edición de modelos existentes.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="service-print-price text-danger">$599.00</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="service-print-card shadow-sm">
                            <img src="assets/img-laser.webp" class="service-print-img-top" alt="Corte Láser">
                            <div class="service-print-body">
                                <h5 class="service-print-title">Corte Láser</h5>
                                <p class="service-print-text">
                                    Materiales: Plástico, madera, metal. <br> Alta resolución.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="service-print-price text-danger">$600.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <section class="gallery-section py-5 mt-5">
        <div class="text-center mb-5">
            <h2 class="gallery-title">Nuestra Galería</h2>
            <div class="underline mx-auto mb-4"></div>
            <p class="gallery-description ">
                Explore nuestra colección de imágenes de proyectos y diseños destacados realizados por nuestro equipo.
            </p>
        </div>

        <div id="photoCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- Primera Página -->
                <div class="carousel-item active">
                    <div class="d-flex justify-content-between">
                        <img src="assets/estatua.webp" class="rounded mx-2" alt="Foto 1" />
                        <img src="assets/laser-caja.webp" class="rounded mx-2" alt="Foto 3" />
                        <img src="assets/letrero tommy.webp" class="rounded mx-2" alt="Foto 4" />
                        <img src="assets/motor.webp" class="rounded mx-2" alt="Foto 5" />
                        <img src="assets/robot.webp" class="rounded mx-2" alt="Foto 2" />
                    </div>
                </div>
                <!-- Segunda Página -->
                <div class="carousel-item">
                    <div class="d-flex justify-content-between">
                        <img src="assets/trailer.webp" class="rounded mx-2" alt="Foto 6" />
                        <img src="assets/moto.webp" class="rounded mx-2" alt="Foto 7" />
                        <img src="assets/vagones.webp" class="rounded mx-2" alt="Foto 8" />
                        <img src="assets/img-laser.webp" class="rounded mx-2" alt="Foto 9" />
                        <img src="assets/img-diseño.webp" class="rounded mx-2" alt="Foto 10" />
                    </div>
                </div>
                <!-- Tercera Página -->
                <div class="carousel-item">
                    <div class="d-flex justify-content-between">
                        <img src="assets/perro tommy.webp" class="rounded mx-2" alt="Foto 11" />
                        <img src="assets/reyna.webp" class="rounded mx-2" alt="Foto 12" />
                        <img src="assets/anime.webp" class="rounded mx-2" alt="Foto 13" />
                        <img src="assets/piezas.webp" class="rounded mx-2" alt="Foto 14" />
                        <img src="assets/letrero love.webp" class="rounded mx-2" alt="Foto 15" />
                    </div>
                </div>
            </div>

            <!-- Controles del carrusel -->
            <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </section>


    <app-footer></app-footer>
